{{- /* Title */ -}}
<title>
{{- if .IsHome -}}
  {{ .Site.Title }}
{{- else if .Title -}}
  {{ .Title }} - {{ .Site.Title }}
{{- else -}}
  {{ .Site.Title }}
{{- end -}}
</title>

{{- /* Description */ -}}
{{- $description := .Description -}}
{{- if not $description -}}
  {{- if .IsPage -}}
    {{- $description = .Summary -}}
  {{- else if .IsSection -}}
    {{- $description = printf "Latest %s from %s" .Section .Site.Title -}}
  {{- else -}}
    {{- $description = .Site.Params.description -}}
  {{- end -}}
{{- end -}}
<meta name="description" content="{{ $description }}">

{{- /* Keywords */ -}}
{{- if .Keywords -}}
<meta name="keywords" content="{{ delimit .Keywords ", " }}">
{{- else if .Site.Params.keywords -}}
<meta name="keywords" content="{{ delimit .Site.Params.keywords ", " }}">
{{- end -}}

{{- /* Author */ -}}
{{- if .Params.author -}}
<meta name="author" content="{{ .Params.author }}">
{{- else if .Site.Params.author -}}
<meta name="author" content="{{ .Site.Params.author }}">
{{- end -}}

{{- /* Canonical URL */ -}}
{{- if .Params.canonical -}}
<link rel="canonical" href="{{ .Params.canonical }}">
{{- else -}}
<link rel="canonical" href="{{ .Permalink }}">
{{- end -}}

{{- /* RSS */ -}}
{{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

{{- /* Open Graph */ -}}
{{ template "_internal/opengraph.html" . }}

{{- /* Twitter Cards */ -}}
{{ template "_internal/twitter_cards.html" . }}

{{- /* JSON-LD */ -}}
{{ template "_internal/schema.html" . }}
